{% extends "base.html" %}
{% block content %}
    <h1>Hola, {{ usuario.nickname }}!</h1>
    {% for post in posts %}
    <p>
      {{ post.autor.nickname }} dice: <b>{{ post.cuerpo }}</b>
    </p>
    {% endfor %}
{% endblock %}
